
:root{
    --primary-color:#fec544;
    --background-color:#0a101e;
    --transition-duration:0.3s;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo',sans-serif;
    background-color: var(--background-color);

    /* overflow-: hidden; */
}
a{
    text-decoration: none;
    color:black
}
ul{
    list-style-type: none;
}
img{
    width: 100%;
}
.container{
    width: 90%;
    margin:auto;
    /* min-height: 100vh; */
    max-width:1250px;
}
section{
    padding-bottom:50px;

}
section .title{
    text-align: center;
    color:var(--primary-color);
    font-size:3rem;
    position: relative;
    z-index: 1;
    margin-bottom:50px;
}
section .title::before{
    content:attr(title);
    text-transform: uppercase;
    position: absolute;
    font-size:2em;
    color:rgba(21, 27, 41, 0.5);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
@media(max-width:560px){
    section .title::before{
        font-size:1.5em;
        
    }
}
@media(max-width:410px){
    section .title::before{
        font-size:1em;
        top:80%;
        
    }
}
/*Header Begin*/
header{
    padding:1.5em;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    left:0;
    z-index: 999999;
}
nav ul {
    display: flex;
    gap:20px;
    justify-content: center;
    font-size:clamp(1rem, calc(1rem + 0.5vw) , 2rem);
}
nav ul li a{
    color:white;
}
nav ul li.active a{
    color:var(--primary-color);
}
/*Header End*/
/*Intro Section Begin*/

    #intro .text-image{
        display: flex;
        justify-content: space-between;
        gap:50px;
        align-items: center;
    }
    #intro .text-image .image{
        width: 500px;
        max-width:500px;
        height: 500px;
        background-color:var(--primary-color);
        border-radius: 50%;
        background-image: url(images/Gebraiel.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        animation:slide-left 0.9s ease-out forwards;
    }

    @media(max-width:768px){
        
        #intro .text-image{
            flex-direction: column-reverse;
            text-align: center;
        }
        #intro .text-image .image{
            width:200px;
            height: 200px;
        }
    }
    
    #intro .text{
        animation:slide-right 0.9s ease-out forwards;

    }
    
    #intro .text small{
        color:var(--primary-color);
        font-size:1.5rem;
    }
    #intro .text h1{
        color:white;
        font-size:clamp(4rem,calc(2vw + 3rem),6rem);
        line-height: 1.2;
    }
    #intro .text h2{
        color:#a9adb8;
        font-size: calc(1.2rem + 2vw);
        line-height: 1.2;
        margin:20px 0px;
    }
    #intro .text a{
        background-color: var(--primary-color);
        font-size:1.2rem;
        border:none;
        padding:0.2em 2em;
        border-radius: 20px;
        cursor: pointer;
        transition:var(--transition-duration) ;
        font-family: "Cairo",sans-serif;
    }
    #intro .text a:hover{
        box-shadow: 0px 5px 10px -5px var(--primary-color);
    }

/*Intro Section End*/
/*About Section Begin*/
    #about .text{
        color:white;
        width:50%;
    }
    #about .text h2{
        color:var(--primary-color);
    }
    #about .text p{
        color:#a9adb8;
    }
/*About Section End*/
/*Skills Section Begin*/
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    justify-content: center;
    margin:auto;
    gap:50px;
    color:white;
}
.skills .skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:2rem;
    text-align: center;
    opacity: 0;
}
.skills .skill .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height: 100px;
    background-color: var(--primary-color);
    color:var(--background-color);
    border-radius: 20px;
    transform: rotate(45deg);
    margin-bottom:20px;
    transition: 0.6s;
}
.skills .skill:hover .icon{
    transform: rotate(405deg);
}

.skills .skill .icon i{
    transform: rotate(-45deg);
}
/*Skills Section End*/
/*Folio Section Begin*/

#folio h2{
    text-align: center;
    color:white;
}
#folio .projects{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    /* grid-template-rows: repeat(auto-fill,minmax(250px,auto)); */
    gap:30px;
    transition:0.3s;
    margin:20px 0 50px;
}
@media(max-width :250px){
    #folio .projects{
        grid-template-columns:1fr;
    }
}
#folio .project{
    position: relative;
    cursor: pointer;
    height: 300px;
    /* border-radius: 15px; */
}
#folio .project .details{
    content:"";
    background-color: #0a101e40;
    display: flex;
    width: 100%;
    height: 100%;
    outline: 10px solid var(--primary-color);
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    color:white;
    outline-offset: 10px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: 0.3s;
    left: 0px;
    top: 0;
}
#folio .project:hover .details{
    transform: scale(1);
}
#folio .project .image{
    height: 100%;
    border-radius: 15px;
}
#folio .project .image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#folio .templates .project .image{
    background-position: 0% 0%;
    transition: 5s ease;   
}

#folio .projects:not(.templates) .project .image {
    transition:0.3s  ;
}
#folio .projects .project .image-container{
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}
#folio .projects:not(.templates) .project:hover .image {
    transform: scale(1.1);
}
#folio .templates .project:hover .image {
    background-position: 0% 100%;
}
/*Folio Section End*/

/*Footer Begin*/
footer{
    text-align: center;
    font-size:1rem;
    padding:1.5em;
    background-color: #0a101e;
    color:white;

}
footer span strong{
    color:var(--primary-color);
}
footer ul{
    display: flex;
    gap:15px;
    justify-content: center;
    margin-top:10px;

}
footer ul a{
    color:white;
    transition: 0.3s;
}
footer ul li:hover a{
    color:var(--primary-color);

}
/*Footer End*/

@keyframes slide-left {
    0%{
        background-position: 500px 0%;
    }
    100%{
        background-position: 0% 0%;
    }
}
@keyframes slide-right {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}